/* Jost Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--font-primary: "Jost", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
	--black: #000;
	--white: #fff;
	--primary-3: #009bf5;
	--primary-5: #0079bf;
	--secondary-2: #fc81b1;
	--secondary-3: #f3648c;
	--secondary-4: #e74569;
	--secondary-5: #da1747;
	--light-1: #fcf8f9;
	--light-5: #e8e4e5;
	--light-9: #d4d0d1;
	--gray-1: #8c8c8c;
	--gray-4: #6e6e6e;
	--gray-5: #636363;
	--gray-6: #595959;
	--gray-8: #454545;
	--gray-9: #3b3b3b;
	--dark-1: #1b1e21;
	--dark-3: #171a1c;
	--dark-5: #131517;
}

body{
	min-height: 100vh;
	font-family: var(--font-primary);
	color: var(--light-1);
	background: var(--dark-5);
}

::-webkit-scrollbar{
	width: 9px;
}

::-webkit-scrollbar-thumb{
	background: var(--gray-6);
	border-radius: 9px;
}

::-webkit-scrollbar-track{
	background: var(--dark-5);
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: -0.00022em;
}

h1{font-size: 2.986rem;}
h2{font-size: 2.488rem;}
h3{font-size: 2.074rem;}
h4{font-size: 1.728rem;}
h5{font-size: 1.44rem;}
h6{font-size: 1.2rem;}
p{font-size: 1rem;font-weight: 500;}
strong{font-weight: 700;}
small{font-size: 0.833rem;}

a{
	color: var(--gray-1);
	font-weight: 450;
	text-decoration: none;
	transition: .25s ease-in-out;

	&:hover{
		color: var(--white);
	}

	&.link{
		color: var(--primary-3);

		&:hover{
			color: var(--primary-5);
		}
	}
}

code{
	color: var(--secondary-2);
	font-size: 1.009rem;
	font-weight: 518;
}

span.destac{
	color: var(--secondary-4);
}

.text-subtitle{
	color: var(--primary-5);
}

.text-secondary{
	color: var(--light-5) !important;
}

.bg-danger{
	background: var(--secondary-5) !important;
}

.toc{
	background: var(--dark-1);
	list-style: none;
	text-align: left;
	border-radius: 9px;
	height: fit-content;
}

.documentation{
	width: 100%;
	height: 100%;
}

.list-group-item{
	color: var(--white);
	letter-spacing: 1px;
	background: var(--dark-3);
	border: 1px solid var(--gray-6);

	&:first-child{
		border-radius: 9px 9px 0 0;
	}

	&:last-child{
		border-radius: 0 0 9px 9px;
	}

	&:hover{
		z-index: 0;
	}
}

.nested-1, .nested-2, .nested-3{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: .45rem;
	padding-bottom: .45rem;
}

.nested-1 {
	background-color: var(--dark-3);
}

.nested-2 {
	background-color: var(--gray-9);
}

.nested-3 {
	background-color: var(--gray-8);
}

.tinted {
	background-color: var(--primary-5);
}

.handle {
	cursor: grab;
}

.prettyprint{
	background-color: var(--dark-1);
	overflow-x: auto;
	scrollbar-gutter: auto;
	padding: 1rem 1.8rem !important;
	border-radius: 18px;
}

.square-section {
	background: var(--dark-3);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	padding: 2rem;
	gap: 2rem;
}

.square {
	width: 270px;
	height: 270px;
	background: var(--secondary-5);
	display: inline-block;
	position: relative;
	border-radius: 9px;
	overflow: hidden;
}

.swap-threshold-indicator {
	background: var(--primary-5);
	height: 100%;
	display: inline-block;
}

.inverted-swap-threshold-indicator {
	background-color: var(--primary-5);
	height: 100%;
	position: absolute;
}

.indicator-left {
	left: 0;
	top: 0;
}

.indicator-right {
	right: 0;
	bottom: 0;
}

.num-indicator {
	position: absolute;
	font-size: 50px;
	width: 25px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	color: var(--white);
}

.grid-square {
	width: 100px;
	height: 100px;
	display: inline-block;
	background: linear-gradient(45deg, var(--secondary-2), var(--secondary-3), var(--secondary-4), var(--secondary-5));
	border-radius: 9px;
	padding: .5rem;
	margin: 12px;
	cursor: grab;
}

.comparisons {
	background-color: var(--dark-1);
	border-radius: 18px;
	padding: 2rem;

	iframe{
		width: 100%;
		height: 290px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 9px;
		overflow: hidden;
	}
}

.frameworks{
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	.card-framework{
		background: var(--dark-3);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 1.8rem;
		border-radius: 18px;

		i{
			font-size: 4.5rem;
		}
	}
}

.prettyprinted {
	margin-top: 5px;
	border-top: none !important;
	border-bottom: none !important;
	border-right: none !important;
	border-left: 1px solid rgba(0,0,0,.1) !important;
	padding-left: 15px !important;
	word-wrap: break-word !important;
	overflow: default !important;
	text-overflow: default !important;
}

.blue-background-class {
	background-color: var(--primary-3);
}

.selected {
	background: var(--primary-5);
	border: 1px solid var(--light-5) !important;
	z-index: 1 !important;
}

.highlight {
	background-color: var(--secondary-2);
}

.btn-top {
	width: 45px;
	height: 45px;
	background: linear-gradient(var(--secondary-5), var(--primary-5));
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 27px;
	cursor: pointer;
	position: fixed;
	bottom: 2rem;
	right: 1.27rem;
	border: none;

	.text {
		font-size: 0.72em;
		width: 100px;
		position: absolute;
		color: var(--light-1);
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: -36px;
		opacity: 0;
		transition-duration: .7s;
	}

	&:hover{
		.text {
			opacity: 1;
			transition-duration: .7s;
		}

		.arrow {
			animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}
	}
}
  
@keyframes slide-in-bottom {
	0%{transform: translateY(10px);opacity: 0;}
	100%{transform: translateY(0);opacity: 1;}
}