.list > div {
	min-height: 50px;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-family: Helvetica;
}


.half {
	display: inline-block;
	width: 49%;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
